// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$gray: #BFC0C0;
$red: #E26D5A;
$blue: #4F5D75;
$dark-blue: #2D3142;

body {
  background: $gray;
  font-family: sans-serif;
}
p {
  color: $red;
}
h1, h3 {
  color: $dark-blue;
}
a {
  color: $blue;
  &:hover {
    color: $dark-blue;
  }
}
